AWS_REGION=eu-west-3
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key

REGISTRY_HOST=13.38.244.45
REGISTRY_PORT=443
REGISTRY_URL=13.38.244.45:443
REGISTRY_USERNAME=admin
REGISTRY_PASSWORD=your_registry_password

APP_PUBLIC_IP=your_app_public_ip
SSH_PRIVATE_KEY=your_private_key