# Dependencies
node_modules/
.pnp/
.pnp.js

# Build / test outputs
build/
dist/
coverage/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / editor
.DS_Store
Thumbs.db

# Terraform generated folders and state
**/.terraform/
*.tfstate
*.tfstate.*
crash.log

# Generated inventories
**/inventory.ini
**/inventory.test.ini
**/inventory*.ini

# Generated keys / secrets
*.pem
*.pub
key.pem

# Local generated Terraform files
terraform/app/app-key-terraform.pem
terraform/app/key.pem
terraform/app/inventory.ini
terraform/app/inventory.test.ini
terraform/app/terraform.tfstate
terraform/app/terraform.tfstate.backup

terraform/registry/inventory.ini
terraform/registry/registry-key-terraform.pem
terraform/registry/registry-key-terraform.pub
terraform/registry/terraform.tfstate
terraform/registry/terraform.tfstate.backup